        .comic-page {
            position: relative;
        }
        
        img {
            width: 100%;
            max-width: 960px;
            height: atuo;
        }
        
        .aicode {
            position: absolute;
            color: #CCCCCC;
            text-align: left;
        }
        
        .hvoice {
            background-color: #FFFFFF;
            position: absolute;
        }
        
        .vertical {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-align: left;
            padding: 5%;
        }
        
        #title {
            position: absolute;
            top: 300px;
            left: 0;
            max-width: 850px;
            margin: 0 auto;
        }
        
        .st1 {
            fill: #FFFFFF;
            stroke: #FFFFFF;
            stroke-dasharray: 2000;
            stroke-dashoffset: 0;
            stroke-width: 1;
            -webkit-animation: hello 3s ease-in 0s;
            animation: hello 3s ease-in 0s;
        }
        
        @-webkit-keyframes hello {
            0% {
                stroke-dashoffset: 2000;
                fill: transparent;
            }
            20% {
                stroke-dashoffset: 2000;
                fill: transparent;
            }
            30% {
                fill: transparent;
            }
            100% {
                stroke-dashoffset: 0;
                fill: #FFFFFF;
            }
        }